.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 10rem 0;
  gap: 1rem;
  background-color: #3645470d;
}

.signup-input {
  border-radius: 0.4rem;
  border: 1px solid grey;
  padding: 1rem;
  outline: none;
}

.signup-button {
  padding: 0.7rem;
  border-radius: 0.5rem;
  background: #ffb037;
  color: white;
  border: none;
}

.signup-button:hover {
  padding: 0.7rem;
  border-radius: 0.5rem;
  background: #523509;
  color: white;
  border: none;
}

.signup-logo {
  color: #ffb037;
}

.error {
  color: red;
  text-align: center;
}
