.footer-container {
  background-color: #364547;
  height: 10rem;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.footer-content {
  color: white;
  text-align: center;
  padding-top: 5rem;
  margin-top: auto;
}
