.create-event {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem 1.5rem 1rem;
  gap: 2rem;
}

.event-info-input {
  border-radius: 0.4rem;
  border: 1px solid grey;
  padding: 0.7rem;
  outline: none;
  width: 50%;
  margin-bottom: 0.5rem;
}

.event-info-location {
  color: #364547;
}

.online-or-venue {
  background-color: #3645471c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.online-or-venue:hover {
  background-color: #36454752;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.online {
  margin-left: 0.5rem;
}

.basic-info {
  display: flex;
  flex-direction: column;
}

.dandt {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .create-event {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem 1.5rem 1rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .create-event {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem 1rem;
    gap: 0.5rem;
  }
}
